.container {
  max-width: 900px;
  margin: auto;
  padding: 40px;
  background-color: #f8f9fa;
}

.text-center {
  text-align: center;
}

.mt-5 {
  margin-bottom: 10px;
}

.form-select,
input[type="submit"] {
  display: block;
  margin: 10px auto;
}

.rss-feed {
  list-style-position: outside;
  padding-left: 30px;
  
}

.rss-feed li {
  margin-bottom: 15px;
}

